@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';

$header-color: #d2d2d2;
$border-header-color: #d2d2d2;

.menu-header-section {
  font-size: 8pt;
  font-weight: normal;
  text-transform: uppercase;
  color: $header-color;
  border-top: solid $border-header-color 1px;
  text-align: center;
  padding-top: 0.7em;
  margin-top: 1em;
}

@include media-breakpoint-between(xs, xs) {
  .menu-header-section {
    font-size: 6pt;
  }
}
