.project-task-description {
    text-align: justify;
    text-justify: inter-word;
}

.project-task-footer > .footer-data {
    font-size: 9pt;
    color: #828282;
    width: 9em;
}

.task-card {
    padding: .5rem;
}

.no-date {
    font-size: 8pt;
    color: #bebebe;
}