@import 'custom';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import '../node_modules/react-perfect-scrollbar/dist/css/styles.css';

#menu-section {
  background-color: #f7f7f7;
}

@include media-breakpoint-between(xs, xs) {
  #menu-section {
    padding: 5px;
  }
}

.btn-xs {
  padding: 0 0.2rem;
  font-size: 0.6rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.badge {
  border-radius: 0.3em;
}

.dropdown-item {
  padding: 0.25rem 0.5rem;
}

.user-typeahead-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "user-typeahead-keywords user-typeahead-information user-typeahead-stars";
}

.user-typeahead-keywords { grid-area: user-typeahead-keywords; }

.user-typeahead-information { grid-area: user-typeahead-information; }

.user-typeahead-stars { grid-area: user-typeahead-stars; }

.btn.disabled, .btn:disabled {
  cursor: not-allowed
}