@import 'custom';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';

#menu-section {
  background-color: #f7f7f7;
}

@include media-breakpoint-between(xs, xs) {
  #menu-section {
    padding: 5px;
  }
}

.btn-xs {
  padding: 0 0.2rem;
  font-size: 0.6rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.badge {
  border-radius: 0.3em;
  font-weight: normal;
}